<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lam</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>EJS</h1>
    <h2>shibe 1302</h2>
    <img class="shiba" src="/images/shibe.jpg">
</body>
</html>